@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap');

body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    
}

.top{
    background-color: #1F2937;
    padding: 0px 200px;
}

.header{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px;
    
    
}

ul{
    display: flex;
    gap: 18px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    
}

.title{
    display: flex;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 48px;
    justify-content: space-between;
    align-items: center;
}

.title-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 450px;
    padding: 30px;
}

.text{
    color: #E5E7Eb;
    font-size: 18px;
    font-weight: 100;
}

.hero-img{
    max-width: 450px;
    height: auto;
}

button{
    max-width: 100px;
    min-height: 30px;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 10px;
    border: none;

}
